body {
    width: 600px;
    margin: 0 auto;
    font-size: 30px;
}

#images {
    height: 600px;
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
}

#images>img {
    height: 600px;
    width: 600px;
    float: left;
    display: none;
}

a {
    color: cadetblue;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    background-color: aliceblue;
    margin-top: 30px;
}

a:hover {
    color: black;
}

a.back {
    float: left;
}

a.next {
    float: right;
}
